<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>ZapWeb - Entrar</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link type="text/css" rel="stylesheet" href="/Public/bootstrap/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="/Public/bootstrap/css/bootstrap-responsive.css">

        <link type="text/css" rel="stylesheet" href="~/Public/bootstrap/css/font.css" />
        <link type="text/css" rel="stylesheet" href="~/Public/bootstrap/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="~/Public/bootstrap/css/simple-line-icons.css" />

        <script type="text/javascript" src="~/Public/lib/jquery/jquery.js"></script>
        <script src="http://localhost/Pillar/Pillar/core/pillar.develop.js" app="/Public/auth.js" config="/Public/app.config.js"></script>

    </head>

    <body>

        <div at="body"></div>

    </body>

</html>
